<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Header -->
			<header id="header">
				<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
			</header>

				<!-- Nav -->
				<nav id="nav">
            		{% include nav.html %}
				</nav>

			<!-- Main -->
			<div id="main">

				<!-- Post -->
				<section class="post">
					<p>{{content}}</p>
				</section>

				<!-- Posts -->
				<section class="posts">
				{% for post in site.posts limit:2 %}
					<article>
						<header>
							<span class="date">{{ post.date | date_to_string }}</span>
							<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
						</header>
							<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
							<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
								</ul>
					</article>
					{% endfor %}
				</section>

				<!-- Footer -->
				<footer>
				<ul class="actions">
					<li><a href="{{ "/blog/" | absolute_url }}" class="button">More Blog</a></li>
				</ul>
				</footer>
			</div>
        	{% include foot.html %}
		</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
	</body>
</html>
